@font-face {
  font-family: "Courier New";
  /*url(../Courier New Regular.ttf) format('truetype');*/
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Courier New";
}

.wrapper {
  display: flex;
  justify-content: center;
  text-align: justify;
  hyphens: auto;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #fe8627;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 315vh;
}

.background #bugs {
  width: 100%;
  height: 100%;
}

.background #stream {
  margin-left: 80%;
  width: 25%;
  height: 215vh;
  position: absolute;
  top: 100vh;
  cursor:pointer;
  z-index: 100;
}

.foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.foreground h1 {
  font-size: 36px;
  text-align: center;
}

.foreground .text-container {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  font-size: 22px;

  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);

  padding: 10px 20px 10px 20px;
}

.foreground .separator {
  margin-top: 48px;
  margin-bottom: 48px;
  width: 60%;
  color: #fe8627;
}

.foreground .separator2 {
  width: 80%;
  color: #00a6fc;
  margin-left: 0;
}

a {
  color: #fe8627;
  text-decoration: none;
}

h1 {
  text-decoration: none;
}
h1.section {
  font-size:8vw;
}

.page {
  width:100%;
  height: 100vh;
  position: relative;
}
#intro div#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

@media screen and (min-aspect-ratio: 5/4) { /*normal device */
  #intro div#title {
    width: 40%;
    padding-top: 2%;
    font-size: 2vw;
  }
  #intro .text-container {
    width: 50%;
    font-size: 1.4vw;
    text-align: left;
  }
  a#harmonogram-btn {
    cursor:pointer;
    width: 15%;
    display: block;
    position: absolute;
    top: 7%;
    left: 3%;
  }

  a#gjk-btn {
    cursor:pointer;
    width: 15%;
    display: block;
    position: absolute;
    left: 80%;
    top: 7%;
  }

  a#obsah-btn {
    cursor:pointer;
    width: 15%;
    display: block;
    position: absolute;
    top: 47%;
    left: 3%;
  }

  a#kontakt-btn {
    cursor:pointer;
    width: 15%;
    display: block;
    position: absolute;
    top: 47%;
    left: 80%;
  }
}
@media screen and (max-aspect-ratio: 5/4) { /*portrait device */
  #intro div#title {
    width: 50%;
    padding-top: 2%;
    font-size: 2.5vh;
  }
  #intro .text-container {
    width: 60%;
    font-size: 2.5vh;
    text-align: left;
  }
  a#harmonogram-btn {
    cursor:pointer;
    width: 22%;
    display: block;
    position: absolute;
    top: 2%;
    left: 2%;
  }

  a#gjk-btn {
    cursor:pointer;
    width: 20%;
    display: block;
    position: absolute;
    left: 80%;
    top: 2%;
  }

  a#obsah-btn {
    cursor:pointer;
    width: 22%;
    display: block;
    position: absolute;
    top: 70%;
    left: 2%;
  }

  a#kontakt-btn {
    cursor:pointer;
    width: 22%;
    display: block;
    position: absolute;
    top: 75%;
    left: 80%;
  }
}
#harmonogram .text-container {
  width: 75%;
  font-size: 1.4vw;
  text-align: center;
  margin-left: 1.25%;
  height: 75%;
}
img#title {
  width: 100%;
}


img.btn {
  width: 100%;
  height: 100%;
}



iframe#gmaps {
  border-width: 3px;
  border-radius: 3px;
  border-color: #00a6fc;
  width: 100%;
  height: 90%;
}

.page h2 {
  color: #00a6fc;
  font-size: 3vw;
  display: block;
  position: relative;
  top: 2.5%;
  left: 3%;
}


@media screen and (min-aspect-ratio: 5/4) {
    /*normal device */

  div#kontakt-text {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 20%;
    left: 7%;
    color: #00a6fc;
    font-size: 16px;
  }
  div#gmaps {
    width: 40%;
    height: 45%;
    position: absolute;
    top: 45%;
    left: 2%;
    font-weight: bold;
    font-size: 1.2vw;
    color: #00a6fc;
  }
  a#ig-btn {
    cursor: pointer;
    width: 15%;
    display: block;
    position: absolute;
    top: 15%;
    left: 65%;
  }

  a#fb-btn {
    cursor: pointer;
    width: 15%;
    display: block;
    position: absolute;
    top: 45%;
    left: 60%;
  }

  a#mail-btn {
    cursor: pointer;
    width: 15%;
    display: block;
    position: absolute;
    top: 21%;
    left: 47%;
  }
}

@media screen and (max-aspect-ratio: 5/4) {
  /*portrait device */

  div#kontakt-text {
    width: 60%;
    height: 30%;
    position: absolute;
    top: 10%;
    left: 2%;
    color: #00a6fc;
    font-size: 2.5vh;
  }
  div#gmaps {
    width: 60%;
    height: 45%;
    position: absolute;
    top: 52%;
    left: 2%;
    font-weight: bold;
    font-size: 1.8vh;
    color: #00a6fc;
  }
  a#ig-btn {
    cursor: pointer;
    width: 22%;
    display: block;
    position: absolute;
    top: 15%;
    left: 73%;
  }

  a#fb-btn {
    cursor: pointer;
    width: 22%;
    display: block;
    position: absolute;
    top: 40%;
    left: 73%;
  }

  a#mail-btn {
    cursor: pointer;
    width: 22%;
    display: block;
    position: absolute;
    top: 62%;
    left: 73%;
  }
}