{% extends 'base.html' %}
{% load blog_utils %}

{% block main %}
	{% for post in page_obj %}
	    <article class="preview text-container">
	    	<h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
	    	<div class="info">
	    		<span class="published">{{ post.published }}</span>
	    		<span class="author">{{ post.author }}</span>
	    	</div>
	    	{{ post.html|safe|truncatechars_html:255 }}...

	    	<a href="{{ post.get_absolute_url }}">Číst více.</a>
		</article>
	{% empty %}
		<div class="text-container">
	    	<p>Žádné {% filter lower %}{% verbose_name_plural object_list.model %}{% endfilter %} nebyly nalezeny.</p>
	    </div>
	{% endfor %}
{% endblock %}

{% block footer %}
	<hr class="separator" />
	<div class="pagination text-container">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
	            <a href="?page=1">&laquo; Začátek</a>
	            <a href="?page={{ page_obj.previous_page_number }}">Předchozí</a>
	        {% endif %}

	        <span class="current">
	            Strana {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
	        </span>

	        {% if page_obj.has_next %}
	            <a href="?page={{ page_obj.next_page_number }}">Další</a>
	            <a href="?page={{ page_obj.paginator.num_pages }}">Konec &raquo;</a>
	        {% endif %}
	    </span>
	</div>
{% endblock %}