{% extends 'base.html' %}
{% load static %}

{% block main %}
	<div class="online background"></div>
	<div class="foreground">
		<div class="page" id="online">
			<h2><a href="{% url 'blog.all' %}">ne//řád online</a></h2>
			<hr class="separator2" />
			<article class="main text-container" id="{{ object.slug }}">
				<h1><a href={{ object.get_absolute_url }}>{{ object.title }}</a></h1>
				<div class="info">
					{% if object.published %}<span class="published">Publikováno {{ object.published }}. {% if object.modified %}Upraveno {{ object.modified }}.{% endif %}</span>{% endif %}
				
					<span class="author">Autor: {{ post.author }}</span>
				</div>

				{{ object.html|safe }}

				<a href="#" class="upbtn">Nahoru &#8617;</a>
			</article>
		</div>
	</div>
{% endblock %}
