@font-face {
  font-family: "Courier New";
  url(static/Courier New Regular.tff)format('truetype');
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Courier New";
}

.wrapper {
  display: flex;
  justify-content: center;
  text-align: justify;
  hyphens: auto;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #fe8627;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}


.background {
  position: absolute;
  top: -20%;  /* compensate for translateZ*/
  left: 0;
  width: 140%; /* larger than 100% to compensate for translateZ*/
  height: max(1700px, 140vh);
  transform: translateZ(-3px);
}
/*
.background {
  position: fixed;
  top: -5vh;
  left: 0;
  width: 110vw;
  height: 110vh;
}
*/
.background #bugs {
  width: 100%;
  height: 100%;
}

.foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: 0;
  transform: translateZ(0px);
}

.foreground h1 {
  font-size: 36px;
  text-align: center;
}

.foreground .text-container {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  font-size: 22px;

  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);

  padding: 10px 20px 10px 20px;
}


.foreground .separator {
  margin-top: 48px;
  margin-bottom: 48px;
  width: 60%;
  color: #fe8627;
}

#title {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  text-align: right;
  font-size: 32px;
}
#title img{
  width:100%;
}