{% load static %}
{% load blog_utils %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NeŘád - Symposion 2020 | Gymnázium Jana Keplera</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

        <script>
            var static_url = "{% get_static_prefix %}";
            var media_url = "{% get_media_prefix %}";
        </script>

        <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif" type="text/css" rel="stylesheet" />

        {% block extrahead %}
        {% endblock %}
    </head>
    <body ontouchstart="">
        <div class="wrapper">
          <div class="container">
            {% block main %}
            {% endblock %}
          </div>
        </div>
    </body>
</html>