<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NeŘád - Symposion 2020 | Gymnázium Jana Keplera</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" href="static/img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
      <div class="parallax-container">
        <div class="background"></div>
        <div class="foreground">
            <div id="title">
                <img src="static/img/title.png">
                Symposion GJK 2020/21
            </div>
            <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ante. Aenean vel massa quis mauris vehicula lacinia. Nullam eget nisl. Phasellus faucibus molestie nisl. Sed ac dolor sit amet purus malesuada congue. Donec vitae arcu. Maecenas sollicitudin. Praesent vitae arcu tempor neque lacinia pretium. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nullam at arcu a est sollicitudin euismod. Nullam faucibus mi quis velit. Nullam at arcu a est sollicitudin euismod. Aliquam erat volutpat. </p>

                <p> Integer lacinia. Nullam sit amet magna in magna gravida vehicula. Proin in tellus sit amet nibh dignissim sagittis. Donec iaculis gravida nulla. Quisque tincidunt scelerisque libero. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Duis risus. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Nulla quis diam. Pellentesque sapien. Etiam dictum tincidunt diam. Praesent vitae arcu tempor neque lacinia pretium. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Aliquam id dolor. Etiam bibendum elit eget erat. </p>
            </div>
            <hr class="separator">
            <div class="text-container">
                <h1>Kontakt</h1>
                <p>Brouka vám do hlavy nasadíme na Gymnáziu Jana Keplera s řádnou adresou Parléřova 2. Ještě než proklouznete do budovy školy, přisajte se na naše sociální sítě a naslouchejte nespoutaný slovům. A kdybyste se cítili sami uprostřed všeobecného chaosu, napište nám na mail.</p>
            </div>
        </div>
      </div>
    </div>
</body>
</html>