<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NeŘád - Symposion 2020 | Gymnázium Jana Keplera</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" href="static/img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
      <div class="parallax-container">
        <div class="background"></div>
        <div class="foreground">
            <div id="title">
                <img src="static/img/title.png">
                Symposion GJK 2020/21
            </div>
        </div>
      </div>
    </div>
</body>
</html>