{% extends 'base.html' %}
{% load static %}
{% load blog_utils %}

{% block extrahead %}
    <!--<script type="text/javascript" src="https://unpkg.com/glsl-canvas-js/dist/umd/glsl-canvas.min.js"></script>
    <script src="{% static 'js/glbeetle.js' %}"></script>-->
    <script src="{% static 'js/visuals.js' %}"></script>
    <script src="{% static 'js/csv_parser.js' %}"></script>
    {% config 'extrahead' %}
{% endblock %}

{% block main %}
    <div class="background"><canvas id="bugs" data-textures="{% static 'img/bg/chroust1.png' %}" data-fragment-url="{% static 'beetles.frag' %}"></canvas><div id="stream" onclick="window.location='#intro'"></div></div>
    <div class="foreground">
        <div class="page" id="intro">
            <div id="title">
                <img src="{% static 'img/title.png' %}" id="title">
                {% config 'symposionheading' %}{% comment %}Symposion GJK 2020/21{% endcomment %}
            </div>
            <div class="text-container">
                {% config 'introtext' %}
                {% comment %}<p>(ne)řád jako narušení struktury, výchylka, výjimka, chyba, mutace komplikující situaci</p>
                <p>(ne)řád jako svoboda, volnost, odklon od norem a konvencí.</p>
                <p>(ne)řád jako záškodník, parazit, narušitel a vetřelec.</p>
                <p>(ne)řád jako rozmanitost a pestrost, která obohacuje.</p>
                <p>(ne)řád jako vzdor a rebelie odmítající pravidla.</p>
                <p>(ne)řád jako divokost, nespoutanost, bordel a chaos.</p>{% endcomment %}
            </div>
            <a id="harmonogram-btn" href="#harmonogram"><img src="{% static 'img/tlacitkoHARMONOGRAM.png' %}" class="btn"> </a>
            <a id="gjk-btn" href="#info"><img src="{% static 'img/tlacitkoINFO.png' %}" class="btn"></a>
            <a id="obsah-btn" href="{% url 'blog.all' %}"><img src="{% static 'img/tlacitkoWEBOBSAH.png' %}" class="btn"></a>
            <a id="kontakt-btn" href="#kontakt"><img src="{% static 'img/tlacitkoKONTAKT.png' %}" class="btn"></a>
        </div>
        <div class="page" id="info">
            <h2> {% config 'infoheading' %}{% comment %}ne//řád informace {% endcomment %}</h2>
            <div id="info-text">
                {% config 'infotext' %}
                {% comment %}
                <p>Chtěli byste ve svém životě konečně zažít něco spontánního a neotřelého? My vás z letargie probudíme! Chtěli bychom vás srdečně pozvat na 22. ročník našeho přednáškového fóra Symposion, pořádaného u příležitosti Dne studentstva. Abychom vás uchránili před jednotvárností a dostáli tak svému slibu, sezvali jsme na letošní ročník ty nejzajímavější a nejrůznorodější kapacity z Prahy i celé České a Slovenské republiky. Přijít může kdokoliv, není třeba se nikde předem registrovat a teď to nejlepší - vstup je zdarma. Přijďte se s námi vytrhnout z každodenní nudy 15. až 17. listopadu 2018.</p>
                <p>Jeho cílem je zprostředkovat návštěvníkům setkání s významnými českými i slovenskými vědci, umělci a zajímavými osobnostmi z všemožných dalších odvětví. Oni nás zasvětí do problematiky témat, o kterých si myslíme, že víme vše, stejně jako do tajů divokých a nekonvenčních záležitostí, o nichž bychom normálně ani nediskutovali. </p>
                <p>Na putování vás bude doprovázet program sestávající např. z koncertu či filmové noci.</p>
                <p>Abyste během přednášek ze samého hladu nezdivočeli, doporučujeme vám čas od času navštívit naši studentskou kavárnu primárně za účelem napájení. V jídelně Scolarest případně naleznete i potravu, jež je mnohem výživnější. Mimopražští navštěvující studenti se u nás mohou za drobný poplatek ubytovat i stravovat, je však třeba se o oboje předem ucházet, a to buď na našem e-mailu, a nebo komunikací s naší facebookovou skupinou</p>
                <p>Po neobyčejně prožitém dni můžou také ti, kteří potřebují na strávení všech zážitků spíše klid, využít naši noclehárnu nadivoko či se omýt u nás ve sprchách. Cena za noční pobyt 100 Kč za osobu, vlastní spacák nezbytný, karimatka doporučená. Máte-li o jedno či druhé zájem, kontaktujte nás na e-mailu symposion@gjk.cz. </p>
                <p>Chceme tu vidět co nejvíce tříd i druhů lidí, uvítáme zde děti i zvěř, dokonce pro ně máme zvlášť uzpůsobené výběhy.<p>
                <p>Pokud máte zájem na bezpečném místě odložit svá rozdivočená mláďata, můžete je od začátku do konce přednášek zanechat v našem dětském koutku, kde se vyřádí mezi spoustou stolních her, hraček, pastelek a podobných únavu navozujících činností.</p>
                <p>P.S.: Pro informace o aktuálním dění nezapomeňte sledovat naši facebookovou stránku.</p>
                {% endcomment %}
            </div>
        </div>
        <div class="page" id="harmonogram">
            <h2> {% config 'harmonogramheading' %}{% comment %}ne//řád harmonogram{% endcomment %} </h2>
            <div class="text-container"> {% config 'harmonogramtext' %}
                <table id="harmonogram_table">
                    <tbody id="harmonogram_table_body">
                    <tr>
                        <th></th>
                        <th>Aula</th>
                        <th>USV</th>
                        <th>Sborovna</th>
                        <th>P2.3</th>
                        <th>P2.2</th>
                        <th>Tělocvična</th>
                    </tr>
                    </tbody>
                </table>
                <style>
                    #harmonogram_table_body {
                        display: block;
                    }
                    table#harmonogram_table td {
                        height: 10rem;
                        max-height: 10rem;
                        border: 4px solid #00a6fc;
                        overflow: hidden;
                    }
                    table#harmonogram_table {
                        height: 100vh;
                        max-height: 100vh;
                        table-layout: fixed;
                        border-collapse: collapse;
                    }
                    .text-container {
                        height: initial !important;
                    }
                    .spanila_princezna {
                        height: 100%;
                        width: 100%;
                        line-height: 1rem;
                        overflow: hidden;
                        display: block;
                    }
                </style>
                <script>

                    function display_anotate(id) {
                        let overlay = document.getElementById("overlay");
                        overlay.style.display = "block";
                        if (typeof data_arr[id][0] !== "undefined") {
                            overlay.getElementsByClassName("overlay-author")[0].innerText = data_arr[id][0];
                        } else {
                            overlay.getElementsByClassName("overlay-author")[0].innerText = "";
                        }
                        if (typeof data_arr[id][3] !== "undefined") {
                            overlay.getElementsByClassName("overlay-prednaska")[0].innerText = data_arr[id][3];
                        } else {
                            overlay.getElementsByClassName("overlay-prednaska")[0].innerText = "";
                        }
                        if (typeof data_arr[id][4] !== "undefined") {
                            overlay.getElementsByClassName("overlay-anotace")[0].innerText = data_arr[id][4];
                        } else {
                            overlay.getElementsByClassName("overlay-anotace")[0].innerText = "";
                        }
                        if (typeof data_arr[id][5] !== "undefined") {
                            overlay.getElementsByClassName("overlay-medailonek")[0].innerText = data_arr[id][5];
                        } else {
                            overlay.getElementsByClassName("overlay-medailonek")[0].innerText = "";
                        }

                        console.log(data_arr[id][5])
                    }

                    function find(data_arr, room, time) {
                        var found = -1;
                        data_arr.forEach((item) => {
                            if (item[1] === time && item[2] === room) {
                                found = item;
                            }
                        });
                        return found;
                    }

                    function zpetButton() {
                        console.log("vole");
                        document.getElementById("overlay").style.display = "none";
                    }

                    var data_arr;

                    var rooms = ["Aula", "USV", "Sborovna", "P2.3", "P2.2", "Tělocvična"];
                    var times = ["PO 15:30 - 16:00", "PO 16:00 - 18:00",  "PO 18:00 - 18:45", "PO 19:30 - 21:00", "ÚT 09:00 - 11:00", "ÚT 11:00 - 13:00", "ÚT 14:00 - 16:00", "ÚT 16:00 - 18:00", "ÚT 18:00 - 20:00", "ÚT 20:30 - 22:00", "ST 9:00 - 11:00", "ST 11:00 - 13:00", "ST 14:00 - 16:00"];
                    var alt_times = ["15:30", "16:00",  "18:00", "19:30", "09:00", "11:00", "14:00", "16:00", "18:00", "20:30", "9:00", "11:00", "14:00"];

                    fetch("https://docs.google.com/spreadsheets/u/1/d/1JUHpxEMKoJotb-z4X3H2PDgBUywQKet2KE4cTIuGDqI/gviz/tq?tqx=out:csv&tq&gid=0",
                        {'method': 'GET',  'headers': {'Content-Type': 'text/csv'}, 'mode': 'cors'})
                        .then(response => response.text())
                        .then(data => {
                            data_arr = CSVToArray(data);
                            var table = document.getElementById("harmonogram_table_body");
                            times.forEach((time, time_index) => {
                                var row = document.createElement("tr");
                                var header = document.createElement("th");
                                header.innerText = alt_times[time_index];
                                row.appendChild(header);
                                table.appendChild(row);
                                rooms.forEach((room) => {
                                    var cell = document.createElement("td");
                                    var res = find(data_arr, room, time);
                                    if (res !== -1) {
                                        cell.onclick = function() {
                                          display_anotate(data_arr.indexOf(res));
                                        };
                                        cell.style = "cursor: pointer";
                                        cell.innerHTML = "<b>"+res[0]+"</b>";
                                        if (typeof res[3] != "undefined") {
                                            cell.innerHTML += ": "+res[3]+""
                                        }
                                    } else {
                                        cell.innerText = "-"
                                    }
                                    cell.innerHTML = "<span class='spanila_princezna'>" + cell.innerHTML + "</span>";

                                    $clamp(cell.getElementsByClassName('spanila_princezna')[0], {
                                      clamp: 10
                                    });
                                    row.appendChild(cell);
                                })
                            })
                        });

                </script>
                {% comment %}Harmonogram se připravuje{% endcomment %}

            </div>
        </div>
        <div class="page" id="kontakt">
            <h2> {% config 'contactheading' %}{% comment %}ne//řád kontakt {% endcomment %}</h2>
            <div id="kontakt-text">{% config 'contacttext' %}{% comment %}Brouka vám do hlavy nasadíme na Gymnáziu Jana Keplera s řádnou adresou Parléřova 2. Ještě než proklouznete do budovy školy, přisajte se na naše sociální sítě a naslouchejte nespoutaný slovům. A kdybyste se cítili sami uprostřed všeobecného chaosu, napište nám na mail.{% endcomment %}</div>
            <div id="gmaps"><iframe id="gmaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.91428932703!2d14.385109315786583!3d50.08789157942699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b951a87784a87%3A0x7cc9fd475f7b8166!2sGymn%C3%A1zium%20Jana%20Keplera!5e0!3m2!1scs!2scz!4v1609597010791!5m2!1scs!2scz" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
             Gymnázium Jana Keplera
             <span style="float: right;">Parléřova 2, 169 00 Praha 6</span></div>
            <a id="ig-btn" href="https://instagram.com/symposion_gjk"><img src="{% static 'img/igtlacitko.png' %}" class="btn"></a>
            <a id="mail-btn" href="mailto:symposion@gjk.cz"><img src="{% static 'img/mailtlacitko.png' %}" class="btn"> </a>
            <a id="fb-btn" href="https://fb.me/SymposionGjk"><img src="{% static 'img/fbtlacitko.png' %}" class="btn"> </a>
        </div>
    </div>
    <div id="overlay">
        <div class="overlay-shadow"></div>
        <div class="overlay-body">
            <div class="overlay-author">  </div>
            <div class="overlay-prednaska">  </div>
            <div class="overlay-anotace"> </div>
            <div class="overlay-medailonek"> </div>
            <img src="{% static 'img/tlacitkoZPETsmall.png' %}" class="overlay-exit" style="cursor: pointer" onclick="zpetButton()">
        </div>
    </div>
{% endblock %}